<mat-toolbar color="primary">
  <app-navigation></app-navigation>
</mat-toolbar>
<mat-card>
  <router-outlet></router-outlet>
</mat-card>
<app-expansive-panel>
  <span header>Кастомный тайты</span>
  <div content>
    <app-load-button
      (value)="changeColor($event)"
      [disabled]="count > 10"
      [title]="'Кастомная кнопка'"
      [color]="someColor">
    </app-load-button>
  </div>
</app-expansive-panel>
<button mat-raised-button (click)="openModal()">Открыть модальное окно</button>

<app-my-observable></app-my-observable>
